extends layout

block content
  .container.fluid
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            h1 Wake On LAN
          .panel-body
            form(name="won", action="/won" method="post").form-horizontal
              .form-group
                label.control-label.col-md-2 MAC:
                .col-md-8
                    select(name="mac").form-control
                      each machine, i in machines
                        option(value="#{machine.mac}") #{machine.name} (#{machine.mac} - #{machine.ip})

              .col-md-6.col-md-offset-4
                input(type="submit", value="Send").btn.btn-primary