extends layout

block content
  .container.fluid
    .row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            h1 Status
          .panel-body(id="ping")
            ul
              li(v-for="result in results" track-by="$index")
                {{ result }}

    script(src="/js/vue.js")
    script(src="/js/vue-resource.js")
    script.
        new Vue({
            el: "#ping",
            data: {
                results: []
            },
            ready: function () {
                this.ping('#{host}');
            },
            methods: {
                ping: function (host) {
                    this.$http.post('/api/ping', {ip: host}).then(function(response) {
                        this.results.push(response.data.message);
                        if (!response.data.alive)
                            this.ping(host);
                    }, function(error) {
                        alert(error);
                    });
                },
            },
        });
